    <div class="container">
        <div class="row">
          <div class="col text-center">

            <!-- AOS -->
            <div data-aos="fade-down" data-aos-duration="2000">
            <!-- image rounded -->
            <img src="assets/img/mainImage.png" class="rounded-circle mainImg">

            <!-- Tittle text -->
            <h1 class="tittle mt-4 mb-3">
              Kalingga <span class="text-teal">Padel</span> Muhamad
            </h1>

            <!-- Description text -->
            <span class="description" id="t"></span>
              <!-- Developer, Teacher and IT Enthusiast<span class="text-teal">.</span> -->

            <!-- ICON -->
            <div class="icon mt-3 mb-2">
                <a href="https://www.linkedin.com/in/kalingga-padel-muhamad-7548ab21a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/kalinggapadelmuhamad" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://web.facebook.com/people/Kalingga-Fadel/100009125212251?_rdc=1&_rdr"  target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/kalinggafadelmuhamad/?hl=id"  target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UC6pt2R4Ltt8ZH3Nh6eOkjQg"  target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
            </div>

            <!-- Menu -->
            <div class="menu">
              <a class="nav-link" href="#Achievement" >achievement</a>
              <a class="nav-link" href="#Portofolio"  >Portofolio</a>
              <a class="nav-link" href="#Experience"  >Experience</a>
              <a class="nav-link" href="#About"       >About Me</a>
            </div>

            <!-- Show Menu -->

          </div>
        </div>
     </div>